.contact__form__fieldset {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 0) {
  .contact__form {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .contact__form {
    width: 450px;
  }
}