.contact {
  /* background-color: var(--light-bg-color); */
  background-color: rgb(246, 143, 215);
  color: var(--dark-text-color);
}

.contact__subtitle {
  margin-block: 2rem;
  text-align: center;
}

.contact__subtitle__link {
  color:white;
}

.contact__subtitle__link:hover {
  text-decoration: underline;
}

.contact__notice {
  color: var(--main-color-hover);
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 2rem;
  text-align: center;
}

.contact__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .contact__content {
    gap: 1rem;
  }
}