.form__field__chars-count {
  font-size: .8rem;
  font-style: italic;
  font-weight: 300;
  float: right;
  padding-block: .3rem .5rem;
  transform: translate(-15%, -95%);
}

.form__field__chars-count--limit {
  color: var(--invalid);
  font-weight: 600;
}