.project__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5;
}

.project__info__title {
 font-size: 1.25rem;
  font-weight: 700;
  
  
 
  
}

@media screen and (min-width: 0) {
  .project__info {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .project__info {
    width: 50%;
  }
}