.projects__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  
}
.projects__title{
  margin-top: 1rem;

 

}

.projects__button {
  align-self: center;
  border: var(--light-text-color) 2px solid;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 3rem;
  padding: 1rem;
  width: fit-content;
  transition: .5s ease;
}

.projects__button:hover {
  background-color: var(--light-text-color);
  color: var(--bg-color);
}