.project__buttons {
  display: flex;
  gap: 2rem;
  text-align: center;
}

.project__buttons__button {
  border-radius: 10px;
  font-weight: 600;
  padding: 1rem;
  width: 50%;
  transition: .5s ease;
}

.project__buttons__button--repo {
  border: var(--main-color) 2px solid;
  color: var(--main-color);
}

.project__buttons__button--repo:hover {
  border-color: var(--main-color-hover);
  color: var(--main-color-hover);
}

.project__buttons__button--demo {
  /* background-color: var(--main-color); */
  background-color:  white;
  color:black;
}

.project__buttons__button--demo:hover {
  background-color:rgb(241, 202, 234);
  color: var(--light-text-color);
}